.valid {
    display: flex;
    flex-direction: row;
  }
  
  .valid_pass-items {
    display: flex;
    flex-grow: 1;
    list-style: none;
    margin: 0;
    padding: 16px ;
    vertical-align: 2px;
  }
  
  .point:last-of-type {
    margin: 0 !important;
  }
  
  .pass-items {
    background: #ddd;
    border-radius: 4px;
    display: inline-block;
    height: 28px;
   margin: 5px;
    margin-right: 1px;
    flex-grow: 1;
  }
  
  p {
    font-weight: bold;
    flex-grow: 0.1;
  }